body {
  font-family: sans-serif;
  background: #f3f2f7;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.navbar {
  font-family: sans-serif;
  background-color: #10997f;
  width: 210px; /* Sidebar width */
  height: 100vh; /* Full height */
  display: flex;
  flex-direction: column; /* Stack items vertically */
  align-items: flex-start; /* Align items to the left */
  padding-top: 20px;
  box-shadow: 2px 0 4px 0 rgba(0, 0, 0, .5);
  position: fixed; /* Fix sidebar to the left */
  top: 0;
  left: 0;
}

.navbar a {
  display: block;
  color: white;
  text-align: left; /* Align text to the left */
  padding: 14px 20px;
  text-decoration: none;
  font-size: 16px;
  width: 100%; /* Full width */
  box-sizing: border-box;
  margin: 0;
}

.navbar a:hover {
  background-color: #ffba40;
  color: #ffffff;
}



.logo {
  width: 100%;
  text-align: center;
  padding: 10px 0;
}

.logo img {
  max-width: 80%;
}

/* Main content to push right of navbar */
.container {
  margin-left: 200px; /* Offset by navbar width */
  padding: 20px;
}


/* stats card */

.dashboard-container {
  display: flex;
  gap: 15px;
  max-width: 1350px;
  max-height: 160px;
  margin-left: 00px;
  margin-top: 30px;
}

.stat-card {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  padding: 20px;
  display: flex;
  align-items: center;
  gap: 20px;
  width: 2500px;
  height: 70px;

}


.icon {
  background-color: #e5f8ee;
  border-radius: 50%;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon img {
  width: 40px;
  height: 40px;
  
}

.stat-details h2 {
  font-size: 32px;
  color: #333;
  font-weight: bold;
}

.stat-details p {
  font-size: 14px;
  color: #777;
  margin-bottom: 20px;

}




/* dashboard2 */

dashboard2 -container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
}

.dashboard2-container  p.b {
 color: #ffba40;

}
.welcome-section {
 margin-bottom: 50px; 
 margin-left: 50px;

}

.dashboard-title {
  font-size: 24px;
  font-weight: bold;
  color: #10997f;
}

.welcome-message {
  font-size: 16px;
  color: #a2a2a2;
}

/* image ss */

.container345 {
  display: flex-end;
  justify-content: flex-end; 
  max-width: 180%;
}

.image-container2 img {
  max-width: 180%; 
  height: auto;    
  margin-left: -20px;
  margin-top: 40px;
}
