.header2 {
    margin: 0px 430px;
    margin-top: 40px;
}
.header2 h1 {
  font-family: Helvetica;
    font-size: 24px;
    font-weight: bold;
}
.header2 hr {
    width: 50px;
    border: 2px solid #f0ad4e;
    margin: 10px auto;
}
.container11 {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 100px;
}
.card {
    width: 30%;
    margin: 0 20px;
    text-align: center;
}
.card img {
    width: 100%;
    height: auto;
}
.card h2 {
  font-family: Helvetica;
    font-size: 18px;
    margin: 10px 0;
    
}
.card p {
    font-family: Helvetica;
    font-size: 14px;
    color: #555;
    padding: 0 10px;
}